{% extends 'main/layout.html' %}

{% block title %}Страница авторизации{% endblock %}

{% block content %}
<title>Введите токен доступа</title>
<div class="features">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Ввести">
    </form>
</div>

{% endblock %}


